h2{
    color: rgb(7, 7, 10);
    text-align: center;
}
nav{
    background-color: aquamarine;
    
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .body{
      background-color: rgb(212, 250, 250);
  }